
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: "Chakra Petch", sans-serif; 
    background-image: url(/imagens/passaro\ _2.jpeg); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content:flex-start; 
    height: 100vh; 
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 2.5rem; 
    color:black; 
    text-align: center; 
    letter-spacing: 0.4rem; 
    margin-top: 20px; 
}

section {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 3rem; 
}

section input {
    width: 30rem; 
    border: none; 
    padding: 1rem; 
    border-radius: 1.5rem; 
    margin-bottom: 1rem; 
    color: black; 
    font-size: 1rem; 
    box-sizing: border-box; 
}


section button {
    padding: 0.8rem 1.2rem; 
    border: none; 
    border-radius: 1.5rem; 
    background-color: #0d99ff; 
    color: #F5F7F8; 
    font-size: 1rem; 
    cursor: pointer; 
}


.resultados-pesquisa {
    width: 60rem; 
    height: 46vh; 
    overflow-y: auto; 
    margin-top: 1rem; 
    padding: 1rem; 
    border-radius: 0.6rem; 
}

.item-resultado {
    background:rgba(255, 255, 255, 0); 
    border-radius: 0.6rem; 
    padding: 1rem; 
    margin-bottom: 1rem; 
    
}


.item-resultado h2 {
    font-size: 1.5rem; 
    color: black; 
}


.item-resultado a {
    text-decoration: none; 
    color: black; 
}


.item-resultado a:hover {
    text-decoration: underline; 
}


.descricao-meta {
    color: black; 
    margin: 0.5rem 0; 
}


footer {
    background-color: rgba(255, 255, 255, 0); 
    color: black; 
    text-align: center; 
    padding: 0; 
    width: 100%; 
    position: absolute; 
    bottom: 0; 
    font-size: 1rem; 
}